@font-face {
  font-family: 'cannabis-icon';
  src:  url('../fonts/cannabis-icon.eot?28npqi');
  src:  url('../fonts/cannabis-icon.eot?28npqi#iefix') format('embedded-opentype'),
    url('../fonts/cannabis-icon.ttf?28npqi') format('truetype'),
    url('../fonts/cannabis-icon.woff?28npqi') format('woff'),
    url('../fonts/cannabis-icon.svg?28npqi#cannabis-icon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
.cb-icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'cannabis-icon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cb-minus:before {
  content: "\e91d";
}
.cb-plus:before {
  content: "\e91e";
}
.cb-star:before {
  content: "\e91b";
}
.cb-location:before {
  content: "\e91c";
}
.cb-capsule:before {
  content: "\e918";
}
.cb-oil:before {
  content: "\e919";
}
.cb-drop:before {
  content: "\e91a";
}
.cb-filter-btn:before {
  content: "\e917";
}
.cb-cart:before {
  content: "\e916";
}
.cb-leaf:before {
  content: "\e900";
}
.cb-calendar:before {
  content: "\e901";
}
.cb-clipboard:before {
  content: "\e902";
}
.cb-heart:before {
  content: "\e903";
}
.cb-security:before {
  content: "\e904";
}
.cb-brain:before {
  content: "\e905";
}
.cb-balance:before {
  content: "\e906";
}
.cb-clock:before {
  content: "\e907";
}
.cb-users:before {
  content: "\e908";
}
.cb-file:before {
  content: "\e909";
}
.cb-lock:before {
  content: "\e90a";
}
.cb-truck:before {
  content: "\e90b";
}
.cb-certificate:before {
  content: "\e90c";
}
.cb-arrow-left:before {
  content: "\e90d";
}
.cb-arrow-right:before {
  content: "\e90e";
}
.cb-youtube:before {
  content: "\e90f";
}
.cb-twitter:before {
  content: "\e910";
}
.cb-instagram:before {
  content: "\e911";
}
.cb-facebook-f:before {
  content: "\e912";
}
.cb-message:before {
  content: "\e913";
}
.cb-filter1:before {
  content: "\e914";
}
.cb-phone:before {
  content: "\e915";
}
